@import 'variable';
@import 'mixin'


h1,p,a{
    @include commonproperty;
}

///Nesting Method in Pure css
// div ul li a{
//     color: $color-menu;
// }



/// Nesting Method in SASS
div{
    background-color: $color-blue;
    ul{
        li{
            list-style-type: none;
            a{
               @include commonproperty;
               text-decoration: none;
            }
        }
    }
}
